body{
  background-image: url('/static/burnbook3.png');
  background-color: rgb(251, 158, 204);
  text-align: center;
  font-family: 'Londrina Outline', cursive;
  font-weight: 1000;
}

.nav{
  background-color: antiquewhite;
  padding: 5px;
}

a{
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

h1,h3,h4{
  background-image: url('/static/text.png');
  font-family: 'Indie Flower', cursive;
}

#burn{
  margin: 8px;
  height: 18rem;
  width: 18rem;
  background-image: url('/static/burn.png');
  background-position:center;
  background-color: transparent;
  border: none;
  font-family: 'Indie Flower', cursive;
}

#cardBtns{
  display: flex;
  margin-top: 20px;
}

#update{
  background-color: #e002d8;
  border: none;
  height: fit-content;
}

#delete{
  background-color: rgb(169, 2, 2);
  border: 2px solid rgb(169, 2, 2);
  color: antiquewhite;
}

form{
  font-family: 'Indie Flower', cursive;
  margin-top: 50px;
}